{% extends 'RImageModel/base.html' %}

{% load static %}

{% block 'header' %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="{% static 'RImageModel/css/style.css' %}">

{% endblock 'header' %}

{% block 'body' %}
    <body>
        <div class="content_visage">
            <img id="imgRec" src="{{image.url}}">

            <div id="identite" class="nom" style="">
                <p> {{ identite }} </p>
            </div>
            
        </div>
        
    </body>
{% endblock 'body' %}

